@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html{
    font-family: 'Rubik', sans-serif;
    background-color: rgb(49, 49, 49);
    color: white;
}

header{
    overflow: auto;
}

h1{
color: rgb(27, 150, 150);
float: left;
}

p{
    color: rgba(255, 255, 255, 0.521);
}

h3{
    color: rgba(255, 255, 255, 0.719);
}

h4{
    color: rgb(14, 165, 165);
}

nav{
float: right;
display: block;
}

nav li{
    float: left;
    list-style: none;
    margin: 2px;
    transition: margin-top 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
}

nav a:hover{
    transition: margin-top 0.1s ease-in-out, border-bottom 0.1s ease-in-out; 
}

nav a{
text-decoration: none;
color: rgba(255, 255, 255, 0.904);
padding: 5px 10px;
box-sizing: border-box;
background-color: rgb(39, 185, 185);
border-radius: 4px;
}

.bio li{
    list-style-type: circle;
}

.contactlist a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

.contactlist li{
    list-style-type: circle;
    padding: 5px;
  
}

footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.158);
}

.carousel {
    position: relative;
    overflow: hidden;
    margin: auto;
}

.carousel-images {
    transition: margin .5s ease-in-out;
}

.carousel nav{
    position: absolute;
}

.carousel nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 30pt;
    padding: 0px 25px;
    opacity: 0;
    background-color: rgba(0,0,0,0);
    transition: all .25s ease;
    opacity: 1;
    background-color: rgba(0,0,0,0.25);
}

.carousel nav a:first-child {
    float: left;
  }

  .carousel nav a:last-child {
    float: right;
  }

  .carousel-caption {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    height: 50px;
    line-height: 50px;
    margin: 0px;
  }
  

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }